body{
    background-color: white;
}
.caja1{
    color: rgb(221, 53, 61);
}
.caja2{
    
    background-color: #fce516;
}
.caja3{
    
    background-color: hsl(123, 77%, 54%);
}
#foo{
    color: orange;
}
a[title]{
    color: green;
}
button:hover{
    background-color: green;
}
input:disabled{
    border: 2px solid orange;
}